%% -*- erlang -*-
%%%---- BEGIN COPYRIGHT -------------------------------------------------------
%%%
%%% Copyright (C) 2012 Feuerlabs, Inc. All rights reserved.
%%%
%%%---- END COPYRIGHT ---------------------------------------------------------
%%% @author Ulf Wiger <ulf@feuerlabs.com>
{ plugins, [exosense_rebar_plugin, exosense_doc_plugin] }.
{ plugin_dir, "util" }.

{deps, [{yang,  ".*", {git, "git@github.com:Feuerlabs/yang.git", "1.0"}}]}.

