%% -*- erlang -*-
%%%---- BEGIN COPYRIGHT -------------------------------------------------------
%%%
%%% Copyright (C) 2012 Feuerlabs, Inc. All rights reserved.
%%%
%%%---- END COPYRIGHT ---------------------------------------------------------
%%% @author Ulf Wiger <ulf@feuerlabs.com>
{ plugins, [exosense_rebar_plugin, exosense_doc_plugin] }.
{ plugin_dir, "util" }.

{yang_opts, [{lib, exosense_specs, "yang"}]}.

{deps, [{yang,  "0\\.7.*", {git, "git@github.com:Feuerlabs/yang.git", "0.7"}}]}.

